<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mars.myguest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".Util.GenericFileProvider"
            android:authorities="com.mars.myguest"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.WaitingPage" />
        <activity
            android:name=".Activity.Home"
            android:label="Today&apos;s Guest">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Activity.NewGuestEntry"
            android:label="New Guest Details"
            android:parentActivityName=".Activity.Home"
            android:theme="@style/AppThemetwo" />
        <activity
            android:name=".Activity.SuperadminDashboard"
            android:label="My Dashboard"
            android:theme="@style/AppThemetwo" />
        <activity
            android:name=".Activity.AdminDashboard"
            android:label="Atithi"
            android:theme="@style/AppThemetwo" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".Activity.ProfileSA"
            android:label="Profile"
            android:parentActivityName=".Activity.SuperadminDashboard"
            android:theme="@style/AppThemetwo" />
        <activity
            android:name=".Activity.AddNewHotel"
            android:parentActivityName=".Activity.SuperadminDashboard"
            android:theme="@style/AppThemetwo" />
        <activity android:name=".Activity.AllHotels"
            android:theme="@style/AppThemetwo"
            android:label="All Hotels"
            android:parentActivityName=".Activity.SuperadminDashboard"></activity>
        <activity android:name=".Activity.Admin_Profile"
            android:label="Manage Profile"
            android:theme="@style/AppThemetwo"
            android:parentActivityName=".Activity.AdminDashboard"></activity>
        <activity android:name=".Activity.Admin_Hotel_List"
            android:label="Hotel List"
            android:theme="@style/AppThemetwo"
            android:parentActivityName=".Activity.AdminDashboard"></activity>
        <activity android:name=".Activity.Admin_Room_List"
            android:label="Room List"
            android:theme="@style/AppThemetwo"
            android:parentActivityName=".Activity.Admin_Hotel_List"></activity>
        <activity android:name=".Activity.Add_Room"
            android:label="Add Room"
            android:theme="@style/AppThemetwo"
            android:parentActivityName=".Activity.Admin_Room_List"></activity>
    </application>

</manifest>